<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Compound Interest</h1>
    </div>
    <div class="d-flex flex-wrap pb-2 mb-3">
        <figure>
            <blockquote class="blockquote">
              <p>First, there's mathmatics. Obviously, you've got to be able to handle numbers and quantities - basic arithmetic. And the great useful model, after compound interest, is the elementary math of permutations and combinations.</p>
            </blockquote>
            <figcaption class="blockquote-footer text-end fs-5">
                Charlie Munger in <cite title="Source Title">Poor Charlie's Almanack</cite>
            </figcaption>
        </figure>
        <div class="fs-5">
            <p>From Charlie Munger's quote, you can see how he ranks ideas in mathematics.</p>
            <ol>
                <li>Basic arithmetic</li>
                <li>Compound Interest</li>
                <li>Permutations and Combinations</li>
            </ol>
            <p>Understanding the power of compound interest is essential for investors and anyone living in a capitalist society.</p>
        </div>
    </div>
</main>